<%- include('partials/header_student') %>
<head>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/Homepage.css">
</head>

<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.js" ></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>


<body onload="loading()">   
<div class="container mt-5" >
  <% if(typeof id !== 'undefined' && typeof fullName !== 'undefined'){%>
    <b style="font-size: x-large;color:#54cc21">Hello  <%= fullName %></b><br>
    <div class="row">
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">
        <h5 id="messageNoDate">Enter dates to start...</h5>
        <form id="filtering" action="/StudentHomepage" method="POST">
            <input type="hidden" value="<%=fullName%>" id="fullName" name="fullName">
            <input type="hidden" value="<%=id%>" id="id" name="id">
          <div class="form-group">
      <label for="startDate" ><b>Start date:</b></label>
      <input type="date" id="startDate" name="startDate" required onchange="checkStartDate()">
      <b>&nbsp&nbsp</b>
      <label for="endDate"><b>End date:</b></label>
      <input type="date" id="endDate" name="endDate" required onchange="checkEndDate()"><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b>
      <label for="city" ><b>City:</b></label>
      <select id="city" name="city">
          <option value="empty"></option>
          <option value="Ashdod">Ashdod</option>
          <option value="Beer Sheva">Beer Sheva</option>
        </select>
  </div> 
      <div class="form-group"> 
          <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          </b>
      <label for="numberOfRooms"><b>Number of rooms:</b></label>
      <select id="numberOfRooms" name="numberOfRooms">
          <option value="empty"></option>
          <option value="1">1</option>
          <option value="1.5">1.5</option>
          <option value="2">2</option>
          <option value="2.5">2.5</option>
          <option value="3">3</option>
          <option value="3.5">3.5</option>
          <option value="4">4</option>
          <option value="4.5">4.5</option>
          <option value="5">5</option>
          <option value="5.5">5.5</option>
          <option value="6">6</option>
        </select><b>&nbsp&nbsp&nbsp&nbsp</b>
        <label for="unitTypes"><b>Unit types:</b></label>
        <select id="unitTypes" name="unitTypes">
            <option value="empty"></option>
            <option value="villa">Villa</option>
            <option value="loft">Loft</option>
            <option value="apartment">Apartment</option>
            <option value="basement">Basement</option>
        </select>
        <br>
          <B>Price per month-</label></B><br>
          <label for="FromPrice"><b>From Price</b></label>
          <input pattern="([1-9]+[0-9]*)*" type="text" id="fromPrice" name="fromPrice"><b>&nbsp&nbsp</b>
          <label for="toPrice"><b>To Price:</b></label>
          <input type="text" id="toPrice" pattern="([1-9]+[0-9]*)*" name="toPrice">
          <button id="searchingUnit"type="submit" class="btn btn-dark">Search</button>
</div>
</from>
</div>
</div>
</div>
</div>
</div>

<div class="container mt-5" id="divTable">
    <table  id="tableUnits" data-toggle="table" data-detail-view="true"
     data-detail-formatter="detailFormatter" data-sortable="true" >
     <thead>
        <tr>
          <th></th>
          <th data-sortable="true"><b>Publishing<br>date</b></th>
          <th data-sortable="true"><b>City</b></th>
          <th data-sortable="true"><b>Address</b></th>
          <th data-sortable="true"><b>Number<br>of rooms</b></th>
          <th data-sortable="true"><b>Unit types</b></th>
          <th data-sortable="true"><b>Popular</b></th>
          <th data-sortable="true"><b>Min<br>rental period</b></th>
          <th data-sortable="true"><b>Max<br>rental period</b></th>
          <th data-sortable="true"><b>Price per month</b></th>
        </tr>
    </thead>
    <tbody>
      <% if(typeof rows !== 'undefined'){ %>
        <% if(rows){%>
            <%for (var i = 0; i < rows.length; i++) { %>
                <tr class="tableclass" >
                    <td id="td<%=i%>"><b style="color:black; font-size:x-large;">+</b></td>
                    <td><%= rows[i].PublishingDate.getDate() + '/' + (rows[i].PublishingDate.getMonth() +1) + '/' + rows[i].PublishingDate.getFullYear() %></td>
                    <td><%= rows[i].City %></td>
                    <td><%= rows[i].Adderss %></td>
                    <td><%= rows[i].NumberOfRooms %></td>
                    <td><%= rows[i].UnitTypes %></td>
                    <td><%= rows[i].NumberOfTimes %></td>
                    <td><%= rows[i].MinRentalPeriod %></td>
                    <td><%= rows[i].MaxRentalPeriod %></td>
                    <td><%= rows[i].PricePerMonth %></td>
    
                <span style="display: none;" id="desc<%=i%>">
                  <br><b style="font-size: large;"><u>Details</u></b>
                    <br><br>
                    <p>
                        <b>Publishing date: </b> <%= rows[i].PublishingDate.getDate() + '/' +(rows[i].PublishingDate.getMonth()+1) + '/' + rows[i].PublishingDate.getFullYear() %>.
                        <br>
                        <b>City: </b> <%= rows[i].City %>. <br>
                        <b>Adderss: </b> <%= rows[i].Adderss %>.
                        <br>
                        <b>Number of Rooms: </b><%= rows[i].NumberOfRooms %>.<br>
                        <b>Unit types: </b><%= rows[i].UnitTypes %>. <br>
                        <b>Minimum rental period: </b><%= rows[i].MinRentalPeriod %>. <br>
                        <b>Maximoum rental period: </b><%= rows[i].MaxRentalPeriod %>. <br>
                        <b>Price per month: </b><%= rows[i].PricePerMonth %>.  <br>
                        <b>Number of times ordered: </b><%= rows[i].NumberOfTimes %>.  <br>
                        <b>Discription: </b><%= rows[i].DescriptionApartment %>.<br><br>
                        <div style="float:inline-start;" >
                          <% var pic = rows[i].Pictures; 
                          pic = pic.split(","); 
                          for(var j=0 ; j< pic.length -1; j++)
                          { 
                          %>
                              <img width="200" height="170" src="uploadsImages/<%=pic[j]%>">
                          <%}%>
                      </div>
                      <div>
                        <% if(typeof attractions !== 'undefined' ) 
                        {
                            var count=1;%>
                            <br><b style="font-size: large;"><u>Attracations</u></b>
                            <br>
                            <% for(var j=0; j< attractions.length; j++)
                            { 
                                if(attractions[j].UnitId == rows[i].UnitID){%>
                            <p><br>
                            <b style="font-size: medium;"><u>The attraction number <%=count%></u></b><br>
                              <b>Attraction's name:  </b><%=attractions[j].NameAttraction%><br>
                              <b>Attraction's discount:  </b><%=attractions[j].Discount%>%<br>
                              <b>Attraction's driving distance:  </b><%=attractions[j].DrivingDistance%><br>
                              <b>Attraction's Description:  </b><%=attractions[j].Description%><br>
                              <br>
                              <% var pic = attractions[j].Pictures; 
                              pic = pic.split(",");
                              for(var h=0 ; h< pic.length-1; h++)
                              { %>
                                 <img width="200" height="170" src="uploadsImages/<%=pic[h]%>">
                              <%}%>
                            </p>
                        <% count+=1;}}}%>
                    </div>
                    <br>
                      <br>
                        <button id="order" name="order" onclick="orderUnit('<%=startDate%>','<%=endDate%>','<%=fullName%>','<%=id%>','<%=rows[i].UnitID%>','<%= rows[i].ApartmentOwnerId%>','<%=rows[i].PricePerMonth%>')" type="button" class="btn btn-dark">Order</button>
                    </p>
                </span>
            </tr>                               
            <% }}} %>
        </tbody>
      </table>
    </div>
    <div class="container mt-5"></div>

</body>

<script>

function loading()
{
  // put he's search
  `<% if(typeof startDate !== 'undefined' && typeof endDate !== 'undefined' &&
   typeof city !== 'undefined' && typeof numberOfRooms !== 'undefined' &&
    typeof unitTypes !== 'undefined' && typeof fromPrice !== 'undefined' &&
    typeof toPrice !== 'undefined'){ %>`
      document.getElementById("startDate").value = "<%= startDate %>";
      document.getElementById("endDate").value = "<%= endDate %>";
      document.getElementById("city").value = "<%= city %>";
      document.getElementById("numberOfRooms").value = "<%= numberOfRooms %>";
      document.getElementById("unitTypes").value = "<%= unitTypes %>";
        "<% if(!isNaN(fromPrice) && !isNaN(toPrice)) { %>"
         document.getElementById("fromPrice").value = "<%= fromPrice %>";
         document.getElementById("toPrice").value = "<%= toPrice %>";
         "<% } else { %>"
         document.getElementById("fromPrice").value = "";
         document.getElementById("toPrice").value = "";
          "<% } %>"
    "<% } %>"

  // if no result
  "<% if(typeof rows !== 'undefined'){ %>"
  "<% if(!rows.length) { %>"
    alert("Sorry no rental units match your search.\nTry to change the search values");
       "<% }}%>"
}


function orderUnit(start_date,end_date,full_name,user_id,unit_id,owner_id,price_per_month)
{
  const data = {startDate:start_date,endDate:end_date,fullName:full_name,
    id:user_id,unitID:unit_id,ownerID:owner_id,pricePerMonth:price_per_month};
  return fetch(window.location.href, {
      method: 'PUT',
      headers: {
       // 'Accept': 'application/json; charset=UTF-8',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
    .then(res=>res.json())
    .then(function(res){
     // move to payment
     if(res.status == 200){
       window.location.replace('./summaryPayment?id='+res.id+"&fullName="+res.fullName+"&orderId="+res.orderID);
     }
     else{
       alert("Sorry something wrong!\n Please try again");
       return;
     }
    })
    .catch(function(error){
            alert("Sorry, something wrong!\n"+error);
            return;
        });
}

 function checkStartDate()
 {
   var start = new Date(document.getElementById("startDate").value);
   var today = new Date();
   if(start.getTime() < today.getTime())
   {
     alert("Please enter a date greater than to today's date");
     document.getElementById("startDate").value = '';
    }
 }
 function checkEndDate()
 {
   var start = new Date(document.getElementById("startDate").value);
   var end = new Date(document.getElementById("endDate").value);
   if(start.getTime() >= end.getTime())
   {
     alert("Please enter a date greater than to start's date");
     document.getElementById("endDate").value = '';
    }
 }

 var $table = $('#tableUnits');

$table.on('expand-row.bs.table', function(e, index, row, $detail) {
  var res = $("#desc" + index).html();
  var td_open = document.getElementById("td"+index);
  td_open.innerHTML ='<b>-</b>';
  td_open.style = "color: black; font-size: x-large;";
  $detail.html(res);
});

$table.on("click-row.bs.table", function(e, row, $tr) {
  if ($tr.next().is('tr.detail-view')) {
    $table.bootstrapTable('collapseRow', $tr.data('index'));
    var td_close = document.getElementById("td"+$tr.data('index'));
    td_close.innerHTML ='<b>+</b>';
    td_close.style = "color: black; font-size: x-large;";
    
  } else {
    $table.bootstrapTable('expandRow', $tr.data('index')); 
  }
});

</script>
<% } %>
<%- include("partials/footer") %>